@model List<webservice1.Models.Documento>
@{
    ViewData["Title"] = "Documentos";
}
<h1>DOCUMENTOS</h1>
<hr class="red-line" />
@{
    if(Context.Session.GetString("Rol").Equals("2") || Context.Session.GetString("Rol").Equals("1")){
<form action="SubirDocumento" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert alert-success" role="alert">@TempData["Mensaje"]</div>
                }

                else if (TempData["ErrorMensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">@TempData["ErrorMensaje"]</div>
                }
                <!-- <p class="text-warning text-center"></p> mensaje de controlador a javascript -->
        <label for="formFile" class="form-label">Selecciona un archivo</label>
        <input class="form-control" type="file" name="archivo" id="archivo" accept="image/png, image/jpeg, image/jpg, .pdf, .gif, .doc, .docx, .pptx, .txt, .xlsx" required>
    </div>
    <button class="btn btn-gob" type="submit">SUBIR ARCHIVO</button>
</form>
    }
}
<br />
<div class="tablaDocumento">
    <!--    table table-bordered table-striped
    Html.ActionLink("Descargar", "DescargarDocumento", new { IdDocumento = documento.IdDocumento, FileName = documento.Nombre }, new { class = "btn btn-gob" })
    -->
    <table id="dataProducto" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>EXTENSION</th>
                <th>PESO</th>
                <th>SUBIDO POR</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody id="datosTabla">
            @foreach (var documento in Model)
            {
                <tr>
                    <td>@documento.IdDocumento</td>
                    <td>@documento.Nombre</td>
                    <td>@documento.Extension</td>
                    <td>@(documento.Peso/1024) KB</td>
                    <td>@documento.Medico</td>
                    <td>
                    <button type="button" class="btnDescargar btn btn-gob" name="btnDescargar" id="btnDescargar" value=@documento.IdDocumento><i class="bi bi-pencil-square"></i> Descargar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script>
$(document).ready(function () {
    $(".btnDescargar").click(function (){
        var Id = $(this).val();
        window.open('http://192.168.1.69:8891/api/Documento/Archivo/'+Id,'_blank');
    });
});
</script>


