@using Microsoft.AspNetCore.Http;
@using expediente_clinico.Models;
@{
    ViewBag.Title = "Cuenta";
}

@{
    var s = Model.Sexo;
    if (s)
    {
        s = "Hombre";
    }
    else
    {
        s = "Mujer";
    }

    //var fechaNueva = Model.FechaDeNacimiento.ToString("dd. MM. yyyy");
    var fechaNueva = Model.FechaDeNacimiento.ToString("yyyy-MM-dd");

    var direccion = Model.Direccion;
}
<h1>Expediente</h1>
<hr class="red-line" />
@{
    //String par = Context.Session.GetString("Prueba1");
    //string correo = Context.Session.GetString("Correo");
    <br />
    <form action="ActualizarExpediente" method="POST">
        <center>
            <img src=@Model.Imagen />
        </center>
        <br />
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">ID EXPEDIENTE</label>
                <input type="text" class="form-control" name="idexpediente" id="validationDefault01" value="@Model.IdExpediente" disabled>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">NOMBRE</label>
                <input type="text" class="form-control" name="nombre" id="validationDefault02" value="@Model.Nombre" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">APELLIDO</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="apellido" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" value="@Model.Apellido" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault03">DIRECCIÓN</label>
                <input type="text" class="form-control" name="direccion" id="validationDefault03" value="@direccion" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault04">TELEFONO</label>
                <input type="text" class="form-control" name="telefono" id="validationDefault04" value="@Model.Telefono" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault05">FECHA DE NACIMIENTO</label>
                <input type="date" class="form-control" name="fechadenacimiento" id="validationDefault05" value=@fechaNueva required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault06">CURP</label>
                <input type="text" class="form-control" id="validationDefault06" value="@Model.Curp" disabled>
                <input type="text" hidden="hidden" class="form-control" name="curp" value="@Model.Curp" />
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault07">SEXO</label>
                <div class="dropdown">
                    <select name="sexo" class="form-control" required>
                        @{
                            if (Model.Sexo)
                            {
                                <option value=false>Mujer</option>
                                <option value=true selected>Hombre</option>
                            }
                            else
                            {
                                <option value=false selected>Mujer</option>
                                <option value=true>Hombre</option>
                            }
                        }
                    </select>
                </div>
                <!--<input type="text" class="form-control" name="sexo" id="validationDefault07" value=@s required>-->
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Actualizar</button>
        <button class="btn btn-danger" asp-controller="Perfil" asp-action="SolicitarExpediente">Cancelar</button>
    </form>
}
<br />
<div>
    <a asp-controller="Inicio" asp-action="Index">Regresar al inicio</a>
</div>
<br />
<footer>
    2022 - expediente médico - <a asp-area="" asp-controller="Inicio" asp-action="Privacy">Privacy</a>
</footer>