@model webservice1.Models.DTO.ExpedienteDTO
@{
    ViewData["Title"] = "Editar expediente";
}

@{
    string genero = "";
    if (Model.Sexo)
    {
        genero = "Hombre";
    }
    else
    {
        genero = "Mujer";
    }

    var fechaNueva = Model.FechaDeNacimiento.ToString("yyyy-MM-dd");

}

<br />
<h1>EDITAR EXPEDIENTE</h1>
<hr class="red-line" />
@{
    <br />
    <form action="ModificarExpediente" method="POST">
        <center>
            <img src="@Model.Imagen" alt="Imagen Perfil" />
        </center>
        <br />
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">ID EXPEDIENTE</label>
                <input type="text" class="form-control" name="idexpediente" id="validationDefault01" value="@Model.IdExpediente" disabled>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">NOMBRE</label>
                <input type="text" class="form-control" name="nombre" id="validationDefault02" value="@Model.Nombre" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">APELLIDO</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="apellido" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" value="@Model.Apellido" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">ESTADO</label>
                 <div class="dropdown">
                    <select name="estado" id="estado" class="form-control">
                    </select>
                    <input hidden="hidden" id="IdEstadoOld" value="@Model.Estado.IdEstado">
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">MUNICIPIO</label>
                <div class="dropdown">
                    <select name="municipio" id="municipio" class="form-control">
                    </select>
                    <input hidden="hidden" id="IdMunicipioOld" value="@Model.Municipio.IdMunicipio">
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault04">TELEFONO</label>
                <input type="text" class="form-control" name="telefono" id="validationDefault04" value="@Model.Telefono" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault05">FECHA DE NACIMIENTO</label>
                <input type="date" class="form-control" name="fechadenacimiento" id="validationDefault05" value=@fechaNueva required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault06">CURP</label>
                <input type="text" class="form-control" name="curp" id="validationDefault06" value="@Model.Curp" required>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault07">SEXO</label>
                  <div class="dropdown">
                    <select name="sexo" class="form-control" required>
                        @{
                            if (Model.Sexo)
                            {
                                <option value=false>Mujer</option>
                                <option value=true selected>Hombre</option>
                            }
                            else
                            {
                                <option value=false selected>Mujer</option>
                                <option value=true>Hombre</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
        <button class="btn btn-danger" asp-controller="Expediente" asp-action="Ver">Cancelar</button>
        <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
        <script>
            //$(document).ready(function () {
            //    $("#estado").change(function (){
            //        alert($(this).val());
            //    });
            //});
            $(document).ready(function () {

                var primerCiclo = true;
                var IdEstado = $("#IdEstadoOld").val();

                $.ajax({
                    url: 'https://app.franciscoantonio.tech:8891/api/usuario/estados',
                    dataType: "json",
                    method: 'GET',
                    success: function (data) {
                        var listEstado = $('#estado');
                        listEstado.empty();

                        $(data).each(function (index, emp) {
                            if (emp.idEstado == $("#IdEstadoOld").val()) {
                                listEstado.append('<option value=' + emp.idEstado + ' selected>' + emp.nombre + '</option>');
                            } else {
                                listEstado.append('<option value=' + emp.idEstado + '>' + emp.nombre + '</option>');
                            }
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

                listarMunicipiosApi();


                $("#estado").change(function () {
                    IdEstado = $(this).val();
                    listarMunicipiosApi();
                });



                function listarMunicipiosApi() {
                    $.ajax({
                        url: 'https://app.franciscoantonio.tech:8891/api/usuario/municipios/' + IdEstado,
                        dataType: "json",
                        method: 'GET',
                        success: function (data) {
                            var listMunicipio = $('#municipio');
                            listMunicipio.empty();

                            $(data).each(function (index, emp) {
                                if (emp.idMunicipio == $("#IdMunicipioOld").val() && primerCiclo == true) {
                                    listMunicipio.append('<option value=' + emp.idMunicipio + ' selected>' + emp.nombre + '</option>');
                                    primerCiclo = false;
                                }
                                listMunicipio.append('<option value=' + emp.idMunicipio + '>' + emp.nombre + '</option>');

                            });
                        },
                        error: function (err) {
                            console.log(err);
                        }

                    });
                }

            });
        </script>

    </form>
}