@model webservice1.Models.DTO.ExpedienteDTO
@{
    ViewData["Title"] = "Expediente";
}
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

         <p>DATOS: </p>
         <p>ID EXPEDIENTE: @Model.IdExpediente</p>
         <p>NOMBRE: @Model.Nombre</p>
         <p>APELLIDO: @Model.Apellido</p>
         <p>IMAGEN: @Model.Imagen</p>
         <p>CURP: @Model.Curp</p>
        
        <p>ESTADO: @Model.Estado.Nombre</p>
        <p>MUNICIPIO: @Model.Municipio.Nombre</p>
        <p>SEXO: @Model.Sexo</p>
        <p>TELEFONO: @Model.Telefono</p>
        <p>FECHA DE NACIMIENTO: @Model.FechaDeNacimiento</p>
</div>*@

@{
    string genero = "";
    if (Model.Sexo)
    {
        genero = "Hombre";
    }
    else
    {
        genero = "Mujer";
    }
}

@{
    if (Context.Session.GetString("Rol").Equals("2") || Context.Session.GetString("Rol").Equals("1"))
    {
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">Médico</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-action="ConsultarPaciente" asp-controller="Medico">Consultar paciente <!--<span class="sr-only">(current)</span>--></a>
                    <a class="nav-item nav-link disabled" href="#">Mi lista de pacientes</a>
                    <a class="nav-item nav-link disabled" href="#">Datos del médico</a>
                </div>
            </div>
        </nav>
    }
}
<br />
<h1>Expediente</h1>
<hr class="red-line" />
@{
    //String par = Context.Session.GetString("Prueba1");
    //string correo = Context.Session.GetString("Correo");
    <br />
    <form>
        <center>
            <img src=@Model.Imagen alt="no hay" />
        </center>
        <br />
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">ID EXPEDIENTE</label>
                <input type="text" class="form-control" id="validationDefault01" value="@Model.IdExpediente" disabled>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">NOMBRE</label>
                <input type="text" class="form-control" id="validationDefault02" value="@Model.Nombre" disabled>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">APELLIDO</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" value="@Model.Apellido" disabled>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">ESTADO</label>
                <input type="text" class="form-control" id="validationDefault03" value="@Model.Estado.Nombre" disabled>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault03">MUNICIPIO</label>
                <input type="text" class="form-control" id="validationDefault08" value="@Model.Municipio.Nombre" disabled>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault04">TELEFONO</label>
                <input type="text" class="form-control" id="validationDefault04" value="@Model.Telefono" disabled>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault05">FECHA DE NACIMIENTO</label>
                <input type="datetime" class="form-control" id="validationDefault05" value=@Model.FechaDeNacimiento disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault06">CURP</label>
                <input type="text" class="form-control" id="validationDefault06" value="@Model.Curp" disabled>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault07">SEXO</label>
                <input type="text" class="form-control" id="validationDefault07" value=@genero disabled>
            </div>
        </div>
        <button class="btn btn-primary" asp-controller="Expediente" asp-action="Editar">Editar</button>
    </form>
}
