@model List<webservice1.Models.Documento>
@{
    ViewData["Title"] = "Documentos paciente";
}

<nav class="navbar navbar-light" style="background-color: #aca590;">
    <p class="navbar-brand">Expediente paciente</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup1" aria-controls="navbarNavAltMarkup1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
        <div class="navbar-nav">
            @Html.ActionLink("Expediente", "Expediente", new { IdExpediente = TempData["ExpedienteUsuario"]}, new { @class = "nav-item nav-link active"})
            @Html.ActionLink("Documentos", "Documentos", new { IdExpediente = TempData["ExpedienteUsuario"] }, new { @class = "nav-item nav-link active"})
            @Html.ActionLink("Consultas", "Consultas", new { IdExpediente = TempData["ExpedienteUsuario"] }, new { @class = "nav-item nav-link active"})
        </div>
    </div>
</nav>
<br />

<h1>DOCUMENTOS PACIENTE</h1>
<hr class="red-line" />

<form action="SubirDocumento" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert alert-success" role="alert">@TempData["Mensaje"]</div>
                }

                else if (TempData["ErrorMensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">@TempData["ErrorMensaje"]</div>
                }

                <!-- <p class="text-warning text-center"></p> mensaje de controlador a javascript -->
        <label for="formFile" class="form-label">Selecciona un archivo</label>
        <input class="form-control" type="file" name="archivo" id="archivo" accept="image/png, image/jpeg, image/jpg, .pdf, .gif, .doc, .docx, .pptx, .txt, .xlsx" required>
        <input hidden="hidden" name="IdExpedienteUsuario" value="@TempData["ExpedienteUsuario"]" />
    </div>
    <button class="btn btn-gob" type="submit">SUBIR ARCHIVO</button>
</form>

<br />
<div class="tablaDocumento">
    <!--    table table-bordered table-striped
    Html.ActionLink("Descargar", "DescargarDocumento", new { IdDocumento = documento.IdDocumento, FileName = documento.Nombre }, new { class = "btn btn-gob" })
    -->
    <table id="dataProducto" class="table table-bordered table-hover" data-order='[[0, "desc"]]'>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>EXTENSION</th>
                <th>PESO</th>
                <th>SUBIDO POR</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="datosTabla">
            @foreach (var documento in Model)
            {
                <tr>
                    <td>@documento.IdDocumento</td>
                    <td>@documento.Nombre</td>
                    <td>@documento.Extension</td>
                    <td>@(documento.Peso/1024) KB</td>
                    <td>@documento.Medico</td>
                    <td>
                    @Html.ActionLink(" Descargar", "DescargarDocumento", new { IdDocumento = documento.IdDocumento, Nombre = documento.Nombre, IdExpediente = documento.IdExpediente }, new { @class = "bi bi-arrow-down-square btn btn-primary" })
                    @{
                        List<string> extensiones=new List<string>(new string[]{".png",".jpg",".jpeg", ".jfif", ".pjpeg", ".pjp"});
                    }
                    @if(extensiones.Any(x => documento.Extension.ToLower().Contains(x)))
                    {
                       <button type="button" class="btnMostrar btn btn-success" data-bs-toggle="modal" data-bs-target="#modalConsulta" value="@documento.Ruta"><i class="bi bi-eye"></i> Ver</button>
                    } else 
                    {
                        <button type="button" class="btnMostrar btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalConsulta" value="@documento.Ruta" disabled><i class="bi bi-eye-slash"></i> Ver</button>
                    }
                    </td>
                    <td>
                       @Html.ActionLink(" Eliminar", "EliminarDocumento", new { IdDocumento = documento.IdDocumento, NombreArchivo = documento.Nombre, IdExpediente = documento.IdExpediente }, new { @class = "bi bi-x-square btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

  <div class="modal fade" id="modalConsulta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <object id="mostrador" style="display:block;" data="" width="465" height="350">
            archivo
          </object>
        </div>
      </div>
    </div>
  </div>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

    <script>
    $(document).ready(function () {
    $(".btnMostrar").click(function (e){
        var Ruta = $(this).val();
        e.preventDefault();
            $('#mostrador').attr('data', Ruta);
        });
    });
    </script>

   <script>
     $(document).ready(function() {
    $('#dataProducto').DataTable();
} );
</script>


