@model webservice1.Models.DTO.ExpedienteDTO
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

         <p>DATOS: </p>
         <p>ID EXPEDIENTE: @Model.IdExpediente</p>
         <p>NOMBRE: @Model.Nombre</p>
         <p>APELLIDO: @Model.Apellido</p>
         <p>IMAGEN: @Model.Imagen</p>
         <p>CURP: @Model.Curp</p>
        
        <p>ESTADO: @Model.Estado.Nombre</p>
        <p>MUNICIPIO: @Model.Municipio.Nombre</p>
        <p>SEXO: @Model.Sexo</p>
        <p>TELEFONO: @Model.Telefono</p>
        <p>FECHA DE NACIMIENTO: @Model.FechaDeNacimiento</p>
        <br />
        <p>CONSULTAS: </p>
        @foreach(var consulta in Model.Consulta)
        {
            <p>ID CONSULTA: @consulta.IdConsulta</p>
            <p>FECHA: @consulta.Fecha</p>
            <p>MEDICO: @consulta.Medico</p>
            <p>ID TIPO CONSULTA: @consulta.IdTipoConsulta</p>
            <p>ID EXPEDIENTE: @consulta.IdExpediente</p>
            <p>DIAGNOSTICO: @consulta.Diagnostico</p>
            <br />
        }
        <br />
        <p>DOCUMENTOS: </p>
        @foreach(var documento in Model.Documento)
        {
            <p>ID DOCUMENTO: @documento.IdDocumento</p>
            <p>NOMBRE: @documento.Nombre</p>
            <p>EXTENSION: @documento.Extension</p>
            <p>RUTA: @documento.Ruta</p>
            <p>MEDICO: @documento.Medico</p>
            <p>PESO: @documento.Peso</p>
            <p>ID EXPEDIENTE: @documento.IdExpediente</p>
            <br />
        }
    
</div>
