@model List<webservice1.Models.Consulta>
@{
    ViewData["Title"] = "Consulta";
}

<h1>CONSULTAS</h1>
<hr class="red-line" />
@{
    if (Context.Session.GetString("Rol").Equals("2"))
    {
        <button class="btn btn-gob" asp-controller="Expediente" asp-action="Editar">Agregar Consulta</button>
        <br />
    }
}

<div class="tablaProductos">
    <!--    table table-bordered table-striped-->
    <table id="dataProducto" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>TIPO DE CONSULTA</th>
                <th>DIAGNOSTICO</th>
                <th>MEDICO</th>
                @if(Context.Session.GetString("Rol").Equals("2"))
                {
                    <th>ACCION</th>
                }
            </tr>
        </thead>
        <tbody id="datosTabla">
            @foreach (var consulta in Model)
            {
                <tr>
                    <td>@consulta.IdConsulta</td>
                    <td>@consulta.Fecha</td>
                    <td>Cita</td>
                    <td>@consulta.Diagnostico</td>
                    <td>@consulta.Medico</td>
                    @if (Context.Session.GetString("Rol").Equals("2"))
                    {
                    <td>
                        <button type="button" class="btn btn-warning" value="@consulta.IdConsulta"><i class="bi bi-pencil-square"></i> Modificar</button>
                        <button type="button" class="btn btn-danger" value="@consulta.IdConsulta"><i class="bi bi-trash"></i> Eliminar</button>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>

<script>
     $(document).ready(function() {
    $('#dataProducto').DataTable();
} );
</script>